[client]
user = mail-server_user
password = pCvnbSf2AaXvL53DY7Djjv9SifhxYo7WYmQizZCPRHFJcYSFHvye7NSdLSEc7U54LdkYf5mYr4NVZ

//[server]
//user = mail-server_user
//password = pCvnbSf2AaXvL53DY7Djjv9SifhxYo7WYmQizZCPRHFJcYSFHvye7NSdLSEc7U54LdkYf5mYr4NVZ1
